<style>
.test{
	background-color:grey;
	color:white;
	margin:20px;
	margin-bottom:0;
	padding:20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#header {
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
	font-size:32px;
}
#nav {
	line-height:30px;
	background-color:grey;
	color:white;
	height:1000px;
	width:120px;
	float:left;
	padding:5px;
}
#section {
	padding:10px; 
}
#footer {
	background-color:white;
	color:black;
	clear:both;
	text-align:center;
	padding:5px; 
}